type=dhcp-client
vm-auth-key=${vm_auth_key}
panorama-server=${panorama_ip}
tplname=${panorama_template_stack_name}
dgname=${panorama_device_group_name}
dhcp-send-hostname=yes
dhcp-send-client-id=yes
dhcp-accept-server-hostname=yes
dhcp-accept-server-domain=yes
